.approve-button {
    margin: auto;
}

.user-actions {
    margin: auto;
}

.add-to-role {
    margin: auto;
}

.form-title {
    text-align: center;
    margin-top: 10px;
}

.pagination-buttons {
    margin: auto;
}

.details-card {
    margin: auto;
}

.file-buttons {
    text-align: center;
}

.download-button {
    background-color: blue;
}

.attach-files-button {
    background-color: blueviolet
}
